<html>                
  <head>                       
  <title>Page title</title>
  </head>  
  
  <body>                  
  <h1 id='first'>  A heading</h1> 
    <section> <b>第一节 A &gt B </b><i>some italics text.</i> <section>
     <p> 第一段 Some text &amp; <b>some bold text.</b></p>  
    <p>This is a link for web scraping : <a href='https://r4ds.hadley.nz/webscraping'>Web scraping</a></p>
    <p><a href='https://en.wikipedia.org/wiki/Cat'>cats</a></p>
    <p><a href='https://en.wikipedia.org/wiki/Dog'>dogs</a></p>
     <p> Some text ; 
        <ol>
          <li>x &lt= y</li>
          <li>y = x </li>
        </ol>
        <img src='myimg.png' width='300' height='200'>  </img> 
    <section> <b>第二节</b>
     <p>This is a paragraph</p>
       <table class='mytable'>
    <tr><th>x</th>   <th>y</th></tr>
    <tr><td>1.5</td> <td>2.7</td></tr>
    <tr><td>4.9</td> <td>1.3</td></tr>
    <tr><td>7.2</td> <td>8.1</td></tr>
  </table>
  <ul>
    <li><b>C-3PO</b> is a <i>droid</i> that weighs <span class='weight'>167 kg</span></li>
    <li><b>R4-P17</b> is a <i>droid</i></li>
    <li><b>R2-D2</b> is a <i>droid</i> that weighs <span class='weight'>96 kg</span></li>
    <li><b>Yoda</b> weighs <span class='weight'>66 kg</span></li>
  </ul>
  </body>