h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 84px;
}
.callout-gradient > div.callout-note.callout-style-default>.callout-header {
    background-image: linear-gradient(to right, #eed5ee, #8528f0);
}

.callout-gradient > div.callout-note.callout {
    border-left-color: #8528f0;
}

.callout-gradient{
  animation: shake 4s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
}